body{
  padding: 0;
  margin: 0;
}
.header p {
  font-size: 38px;
  font-family: "Rancho", cursive;
  margin: 0;
}
.lite-color {
  color: #f74edc;
}

.header .main-text {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  color: #fcfcfc;
  text-align: center;
  margin-top: 120px;
}
.header {
  background-image: linear-gradient(
      180deg,
      rgba(1, 0, 71, 0.79) 7.81%,
      rgba(1, 0, 71, 0.79) 15.15%,
      rgba(206, 76, 241, 0.567931) 99.99%,
      rgba(213, 78, 247, 0.5609) 100%
    ),
    url("../../images/headerimage.png");
  background-size: cover;
  width: 100%;
  color: #fff;
  height: 450px;
  margin:0;
  padding:0;
}
/* End Head */

/* Navbar  */

a {
  text-decoration: none;
  color: inherit;
}

main {
  min-height: 100vh;
}

.navbar {
  background: rgba(39, 70, 129, 0.03);
  box-shadow: 0 0 5px rgba(109, 170, 211, 0.433);
  margin-bottom: 2em;
}

nav {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  flex-grow: 1;
  text-align: center;
  padding: 0.5em;
  padding-right: 3em;
  padding-left: 3em;
  position: relative;
  font-size: 18px;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  background: #f74edc;
  transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
}

nav a:hover::after {
  transform: scaleX(1);
}

nav a:hover {
  color: #010047;
}
/* End Navbar */



/* SearchBar */
.search-bar {
  width: 452px;
  height: 56px;
  display: flex;
  flex-wrap: nowrap;
  background: #FFFFFF;
  box-shadow: 5px 6px 12px rgba(176, 176, 176, 0.25);
  border-radius: 40px;
  margin-left: 410px;
}
.search-icon img{
  padding-right:20px;
  padding-top: 15px;
  padding-left: 20px;
}

.search-input {
  width: 300px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 2px solid #D3D2D2;
  padding-left: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #A9A9A9;

}

.search-input:focus {
  outline: none;

}

.search-cancel {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border-color: #A9A9A9;
  background-color: white;
  color: #A9A9A9;
  margin-left: 20px;
  margin-top: 15px;
  cursor: pointer;
}

/* End SearchBar */


/* Templates */

.templates {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
  margin-left: 33px;
}

.template {
  width: 280px;
  height: 415px;
  background: rgba(39, 70, 129, 0.03);
  border-radius: 10px;
  margin: 12px;
  align-items: center;
}

.template-overview {
  width: 200px;
  height: 379px;
  align-items: center;
}

.template-overview img {
  width: 200.5px;
  height: 275px;
  margin-top: 20px;
  margin-left: 38px;
  margin-bottom: 20px;
}

.template-text {
  /* width: 200.5px; */
  /* height: 36.95px; */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* background-color: white; */

}

.template-text .template-name {
  width: 65px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #010047;
  padding-left: 40px;
  padding-right: 15px;
}

.template-text .template-owner {
  width: 83px;
  height: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: rgba(19, 18, 18, 0.67);
}

.template-btn {
  width: auto;
  height: 34px;
  display: flex;
  flex-wrap: nowrap;
}

.template-btn .template-demo {
  width: 59px;
  height: 34px;
  background: #274681;
  border-radius: 5px;
  color: white;
  margin-left: 40px;
}

.template-btn .template-download {
  width: 101px;
  height: 34px;
  background: rgba(42, 182, 114, 0.83);
  border-radius: 5px;
  color: white;
  border-color: rgba(42, 182, 114, 0.83);
  margin-left: 10px;
}
/* End Templates */



/* Footer styles */
.page-footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.page-number {
  margin-right: 25px;
  background-color: #D3D2D2;
  border-radius: 50px;
  padding: 8px 12px;
}
.active {
  background-color: #274681;
  border-radius: 50px;
  padding: 8px 12px;
  color: #fff;
}
.page-number:hover {
  background-color: #274681;
  border-radius: 50px;
  padding: 8px 12px;
  color: #fff;
}
footer p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.footer {
  margin-top: 20px;
  background-color: #274681;
  padding: 20px;
}
footer .img-socials {
  margin: 15px;
}
footer .socials {
  display: flex;
  justify-content: center;
}

/* footer styles end */
